back_space_sample.py
back_space_shelf.py
cp2.py
cpy.py
data.zip
fullhd435.zip
functions.py
intel_main.py
tensor.py
triplet_model_pt.pt
yolov8m_finetuned_v3.pt
boxes
fullhd435
hd455
new
new_boxes
new_shelf
shelf